@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573284036504'); /* IE9 */
  src: url('iconfont.eot?t=1573284036504#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1574247526195') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcc-search:before {
  content: "\e660";
}

.iconaite:before {
  content: "\e643";
}

.iconcc-arrowhead:before {
  content: "\e6aa";
}

.iconcc-audio:before {
  content: "\e64c";
}

.iconcc-share:before {
  content: "\e683";
}

.iconcc-pic:before {
  content: "\e64b";
}

.iconcc-collect:before {
  content: "\e693";
}

.iconcc-play:before {
  content: "\e63a";
}

.iconcc-up:before {
  content: "\e610";
}

.iconcc-load:before {
  content: "\e62b";
}

.iconzan:before {
  content: "\e6a3";
}

.iconcc-comment:before {
  content: "\e600";
}

.iconcc-pause:before {
  content: "\e668";
}

.iconcc-video:before {
  content: "\e61f";
}

.iconcc-download:before {
  content: "\e638";
}

.iconcc-music:before {
  content: "\e78c";
}

.iconcc-replay:before {
  content: "\e7b4";
}

.iconcc-delete:before {
  content: "\e64a";
}

.iconcc-playing:before {
  content: "\e61c";
}

.iconxiaolian:before {
  content: "\ec80";
}

.iconcc-edit:before {
  content: "\e640";
}

.iconcc-silence:before {
  content: "\e747";
}

.iconcc-allscreen:before {
  content: "\e62c";
}

.iconcc-event:before {
  content: "\e6c4";
}

.iconcc-add:before {
  content: "\e644";
}


